# .NET build output
**/bin/
**/obj/
workspaces/
*.user
[Dd]ebug/
[Rr]elease/

# Node / React build output
**/node_modules/
**/dist/
**/build/
.vscode/
.idea/
.DS_Store

# Environment & Cache
*.env
*.userprefs
.vs/
.history/
visitors.json
